.tft-hero-slider-selector .slider-button {
  margin-top: 40px;
}

.tft-hero-slider-selector .slider-button a {
  color: #fff;
  font-size: 18px;
}

.tft-hero-slider-selector .slick-prev:before,
.tft-hero-slider-selector .slick-next:before {
  color: #ffffff;
}

.tft-hero-slider-selector .slider-button input#submit:hover {
  background: #f94700;
}

.hero--slider-wrapper {
  overflow: hidden;
}

.tft-hero-slider-selector {
  position: relative;
}

.tft-hero-slider-selector .tft-hero-single-item::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}

.tft-hero-slider-selector .tft-hero-single-item .tft-hero-single-item-inner {
  display: flex;
  align-items: center;
  height: 100%;
}

.tft-hero-slider-selector .title-large {
  font-size: 84px;
  font-weight: 800;
  color: #fff;
  line-height: 1.3em;
  margin-bottom: 20px;
  margin-top: 0px;
}

.tft-hero-slider-selector .tft-sub-title p {
  color: #fff;
  font-size: 22px;
}

.tft-hero-slider-selector .tft-slider-bg-img {
  background-size: cover;
  background-position: center center;
}

.tft-hero-slider-selector .slider-inner-info {
  max-width: 765px;
  z-index: 999;
  position: relative;
}

.tft-hero-slider-selector .slick-prev,
.tft-hero-slider-selector .slick-next {
  top: 91%;
  z-index: 99;
}

.tft-hero-slider-selector .slick-prev {
  left: calc(50% - (1200px / 2) + 0px) !important;
}

.tft-hero-slider-selector .slick-next {
  left: calc(50% - (1200px / 2) + 70px) !important;
}

.tft-hero-slider-selector .slider__counter {
  left: calc(50% - (1200px / 2) + 180px) !important;
}

.tft-hero-slider-selector button.slick-arrow {
  background: #f15d30;
  height: 45px;
  width: 45px;
  border-radius: 2px;
  transition: all 0.3s ease;
  border: 2px solid rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 16px;
}

.tft-hero-slider-selector button.slick-arrow:hover {
  background: transparent !important;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  color: rgba(255, 255, 255, 0.5);
}

.tft-hero-slider-selector .slick-prev:hover:before,
.tft-hero-slider-selector .slick-next:hover:before {
  color: #f15d30;
}

.tft-search-box {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #fff;
  max-width: 1000px;
}

.tft-search-box input:focus {
  color: #f15d30;
}

.tft-search-box .tft-search-box-inner {
  padding: 40px;
  box-shadow: rgba(29, 42, 59, 0.1) 0px 4px 20px;
  width: 1000px;
}

.tft-search-box .tft-search-box-field {
  flex-basis: 22%;
  padding: 15px 0px;
}

.tft-search-box .tft-search-box-field label {
  display: block;
  padding-bottom: 2px;
}

.tft-search-box input,
.tft-search-box select {
  font-size: 18px;
  color: #f15d30;
  font-weight: 600;
  line-height: 1.3em;
  border: none;
  width: 100%;
  padding-bottom: 10px;
}

.tft-search-box .tft-search-box-container {
  column-gap: 18px;
  justify-content: space-between;
}

.tft-search-box :focus {
  outline: none;
}

.tft-search-box input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  filter: invert(41%) sepia(99%) saturate(1595%) hue-rotate(342deg)
    brightness(98%) contrast(94%);
}

.tft-search-box .tf_button {
  background-color: #f15d30;
  border: none;
  cursor: pointer;
  min-height: 55px;
}

.tft-search-box input,
.tft-search-box select {
  padding: 10px;
}

.tft-search-box .tf_homepage-booking {
  margin: 0px;
  border-radius: 4px 0px 0px 4px;
}

.tft-search-box #tf-booking-search-tabs {
  box-shadow: none;
  padding: 0px;
}
.tft-hero-design-1 .tf-booking-form-tab button {
  cursor: pointer;
}
.tft-search-box .tft-tour-serach-fields-wrap > div {
  border: none;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
  padding: 0;
}

.tft-search-box .tf_destination-wrap {
  border-right: 1px solid #ccc;
}

.tf_input-inner *,
.tf_input-inner {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.tft-search-box .tft-tour-serach-fields-wrap {
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: row;
}

.tft-search-box .tf_selectperson-wrap {
  width: 30%;
}

.tft-search-box .tft_tour-fields-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #a79997;
}

.tft-search-box .tf_input-inner input {
  padding: 0px 8px;
  border-radius: 0;
}

.tft-search-box .tft-selectperson-field-wrap {
  border-bottom: 1px solid rgba(241, 93, 48, 0.2509803922);
  padding: 11px 0;
}

.tft-search-box .tf_submit-wrap {
  background: transparent;
}

.tft-hero-slider-selector .slider__counter {
  position: absolute;
  top: 90%;
  width: 115px;
  text-align: right;
  font-size: 24px;
  color: #f15d30;
  font-weight: 500;
}

.tft-hero-slider-selector .slider__counter::before {
  content: "";
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: -38px;
  bottom: 10px;
}

.tf-booking-forms-wrapper {
  margin-top: 16px;
}
.tft-hero-slider-selector .slick-prev:before, .tft-hero-slider-selector .slick-next:before{
  display: none;
}

/* Slider Design 2 */
.tft-hero-design-2{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tft-hero-design-2 .tft-hero-content{
  width: 1240px;
}
.tft-hero-design-2 .tft-hero-content h1{
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #FDF9F3;
  text-align: center;
  padding-bottom: 120px;
  padding-top: 120px;
}
.tft-hero-design-2 .tft-hero-content .tf-booking-form-tab button{
  border: 0px;
  padding: 15px 30px;
  cursor: pointer;
  transition: .3s all ease;
}
.tft-hero-design-2 .tft-hero-content .tf-booking-form-tab button.active{
  background-color: #B58E53;
}
.tft-hero-design-2 .tft-hero-content .tf-booking-form-tab button:hover{
  background-color: #917242;
  color: #FDF9F3;
}
@media only screen and (max-width: 767px) {
  .tft-hero-design-2{
    height: auto;
    padding: 38px 16px;
  }
  .tft-hero-design-2 .tft-hero-content h1{
    font-size: 24px;
  }
  .tft-hero-design-2 #tf_hotel_aval_check{
    margin-bottom: 0px;
  }
  .tft-search-box {
    position: relative;
  }

  .tft-search-box .tft-search-box-container {
    display: block;
  }

  .tft-search-box .tft-search-box-inner {
    padding: 20px;
    width: 100%;
  }

  .tft-search-box .tf_homepage-booking {
    height: auto;
    flex-direction: column;
    row-gap: 16px;
  }

  .tft-search-box .tf_selectperson-wrap {
    width: 100% !important;
  }

  .tft-search-box .tf_destination-wrap {
    padding: 0px !important;
  }

  .tft-search-box .tf_selectperson-wrap {
    padding: 0px !important;
  }

  .tft-search-box .tf_selectdate-wrap,
  .tft-search-box .tf_selectperson-wrap {
    padding: 0px !important;
  }

  .travelfic-tour-search-form .tf_booking-widget .tf_homepage-booking {
    align-items: stretch;
  }

  .travelfic-tour-search-form .tf_booking-widget .tf_homepage-booking > div {
    width: 100%;
  }

  .travelfic-tour-search-form
    .tf_booking-widget
    .tf_homepage-booking
    > div:nth-child(2) {
    width: 100% !important;
  }
}
@media all and (max-width: 1024px){
  .tft-hero-design-2 .tft-hero-content{
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media all and (max-width: 991px){
  .tft-hero-design-2 .tft-hero-content h1{
    font-size: 40px;
  }
}
@media all and (max-width: 767px){
  .tft-hero-design-2 .tft-hero-content h1{
    font-size: 24px;
  }
  .tft-hero-design-2 .tft-hero-content select[name="tf-booking-form-tab-select"]{
    color: #FDF9F3;
  }
}
@media only screen and (max-width: 1024px) {
  .tft-hero-slider-selector .slider__counter {
    left: 210px !important;
  }

  .tft-hero-slider-selector .slick-next {
    left: 100px !important;
  }

  .tft-hero-slider-selector .slick-prev {
    left: 20px !important;
  }

  .tft-search-box .tf_homepage-booking {
    padding: 8px;
  }

  .tft-search-box .tf_selectdate-wrap,
  .tft-search-box .tf_selectperson-wrap {
    padding: 8px 8px !important;
    border: none;
  }

  .tf-booking-form-tab-mobile {
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .tft-slider-bg-img{
    padding: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .tft-search-box {
    position: relative;
    max-width: 100%;
  }

  .tft-search-box .tft-search-box-inner {
    width: 100%;
  }

  .tft-search-box .tft-search-box-container {
    column-gap: 10px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1139px) {
  .tft-hero-slider-selector .slick-prev {
    left: calc(50% - (1200px / 2) + 90px) !important;
  }
  .tft-hero-slider-selector .slick-next {
    left: calc(50% - (1200px / 2) + 160px) !important;
  }

  .tft-search-box .tft-search-box-inner {
    padding: 24px;
    width: 820px;
  }

  .tft-search-box {
    width: 820px;
  }

  .tft-hero-slider-selector .slider__counter {
    display: none;
  }
}

@media only screen and (min-width: 1140px) and (max-width: 1239px) {

  .tft-hero-slider-selector .slick-prev {
    left: calc(50% - (1200px / 2) + 60px) !important;
  }
  .tft-hero-slider-selector .slick-next {
    left: calc(50% - (1200px / 2) + 120px) !important;
  }

  .tft-search-box .tft-search-box-inner {
    padding: 24px;
    width: 820px;
  }

  .tft-search-box {
    width: 820px;
  }

  .tft-hero-slider-selector .slider__counter {
    display: none;
  }
}

@media only screen and (min-width: 1240px) and (max-width: 1339px) {
  .tft-search-box .tft-search-box-inner {
    padding: 24px;
    width: 900px;
  }

  .tft-search-box {
    max-width: 900px;
  }
}

@media only screen and (min-width: 1340px) and (max-width: 1439px) {
  .tft-search-box .tft-search-box-inner {
    padding: 24px;
    width: 900px;
  }

  .tft-search-box {
    max-width: 900px;
  }
}

.tft-hero-design-2 .tf-booking-form-tab .btn-styled {
  border: #e6e6e6 !important;
  border-radius: 0px !important;
  overflow: hidden;
  position: relative;
  color: #333 !important;
  font-size: 16px !important;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  background-color: #e6e6e6 !important;
  padding: 15px 30px !important;
}

.tft-hero-design-2 .tft-hero-content .tf-booking-form-tab button:hover{
  background-color: #917242 !important;
  color: #FDF9F3 !important;
}
.tft-hero-design-2 .tft-hero-content .tf-booking-form-tab button:active{
  color: #FDF9F3;
}

.tft-hero-design-1 .tf-booking-form-tab .btn-styled {
  font-size: none !important;
}

