/* Travelfic Toolkit Container */
.travelfic-kit-container{
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.tft-archive-transparent-header .tf-template-3 .tf-hero-section-wrap .tf-container .tf-hero-content .tf-wish-and-share {
    margin-top: 161px;
}